html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}


body {
	font-family: "Futura PT", "Arial", "sans-serif";
  font-weight: 400; ;
	margin: 0;
	padding: 0;
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	

}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}



