.articles{
  margin-bottom: 265px;
}

.articles__list{
  display: flex;
  padding-left: 0;
}

.articles-container{
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  
}

.articles__item{
  width: 305px;
  list-style-type: none;
  border-radius: 5px;
  border: 1px solid #E4E4E2;
}

.articles__item + .articles__item{
  margin-left: 24px;
}

.articles__time{
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.articles__title{
  font-family: "Futura PT";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  margin-bottom: 80px;
}

.articles__info{
  font-family: "Futura PT";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  margin-left: 20px;
}

.articles__text{
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  padding-left: 30px;
  padding-right: 30px;
}

.articles__infolink{
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
}

.articles__span{
  display: flex;
}

.articles__soclink{
  text-decoration: none;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  color: #3D9CEA;
  margin-left: 8px;
}

.articles__time--info{
  margin-left: 15px;
}

.articles__dogsimg{
  height: 100%;
}

.article__span{
  margin-left: 20px;
}

.articles__span--mdf{
  margin-top: 10px;
}